
/* sequence buttons */

div.seq {
   margin-left: 10px;
   margin-top: 10px;
   background-color: rgba(0,0,0,0.5);
   padding: 6px 12px;
   border: 1px solid rgba(255,255,255,0.5);
   border-radius: 8px;
   box-shadow: 3px 3px 12px #000;
   cursor: pointer;
   color: white;
}

div.seq:hover {
   background-color: rgba(0,0,0,0.6);
}

div.seq.active {
  background-color: rgba(0,0,0,0.75);
  box-shadow: 2px 2px 8px #000;
}

div.seq a {
  float: right;
  position: relative;
  margin-top: 3px;
  text-align: center;
  margin-left: 4px;
}

div.seq a.colorpicker {
  margin-left: 12px
}

div.seq a:hover {
  transform: scale(0.95);
}

div.seq a:active {
  transform: scale(0.85);
}

#colorpicker {
  display: none;
  width: 180px;
  position: absolute;
  z-index: 999999;
  background-color: rgba(0,0,0,0.6);
  padding-left: 5px;
  padding-top: 5px;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
}

#colorpicker ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#colorpicker ul li {
  float: left;
  margin: 0 5px 5px 0;
}

#colorpicker ul li a {
  display: block;

  width: 13px;
  height: 13px;

  text-decoration: none;
  text-indent: -100000px;
  outline: 0;

  border: 1px solid #aaa;
}

#colorpicker ul li a:hover {
 border-color: #000;
}

.seq input {
  background-color: rgba(0,0,0,0.1);
  color: white;
  border-color: rgba(255,255,255,0.5);
  padding: 2px 4px;
  border-radius: 5px

  
}

.seq input::selection {
  background: #cab;
}

/* snapshot BEGIN */
#snapshot_toggle {
  display: none; 
}

#snapshot_bar {
  width: 100%;
  height: 144px;
  position: absolute;
  bottom: 64px;
  padding-top: 12px;
  background-color: rgba(255,255,255,0.2);
  box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
  z-index: 9;
  display: block;
  -webkit-user-select: none;
  transition: all 0.5s ease-in;
  visibility: hidden;
  opacity: 0
}

#snapshot_bar canvas {
    transform: scaleY(-1);
    display: block;
    cursor: pointer;
}

div.snapshot {
  display: block;
  float: left;
  margin: auto 4px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
  border: 2px solid white;
}

div.snapshot.current {
  border: 2px solid yellow;
}

.parameter_widget {
  float: left;
}

.parameter_value {
  vertical-align: super;
  margin-left: 16px
}

.parameter_name {
  margin-top: 2px;
  float: left;
  width: 100px;
}

.parameter_name:first-letter {
  text-transform: uppercase;
}

#imagefilters > fieldset {
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

#imagefilters {
  -webkit-user-select: none;
  user-select: none;
}

.gallery_overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas.gallery {
  border: 8px solid white
}

a.button {
  box-shadow: 6px 6px 12px rgba(0,0,0,0.4);
  position: absolute;
  bottom:10px;
  top: auto;
  left: auto;
  right: 0;
  color: black;
  margin: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: rgba(255,255,255,0.6);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

a.button:hover {
  background-color: rgba(255,255,255,0.7);
}

a.button:active {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  transform: scale(0.98);
}

a.button div {
  position: relative;
  font-size: 3em;
  margin: 0.2em;
}

.imgareaselect-outer {
  cursor: crosshair;
}

.gallery {
  user-select: none;
  -webkit-user-select: none;
}

#snapshot_close {
  width: 16px;
  height: 16px;
  color: gray;
  position: fixed;
  right: 16px;
  transition: all 0.2s ease-in;
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  border-radius: 1px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}

#snapshot_close:hover {
  color: black;
}

#snapshot_close:active {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);  
  transform: scale(0.9);
}
/* snapshost END */
